//main: ../style.less

.footer {
   height: 6rem;
   background-color: @gray;
}

.footer__inner {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

.footer__number {
   color: @white;
   padding: 2rem 0;
   font-size: 1.2rem;
}
