//main: ../style.less

.footer {
   height: 6rem;
   background-color: @gray;
}

.footer__inner {
   display: flex;
   justify-content: space-around;
}

.footer__number {
   width: 300px;
   color: @white;
   padding: 2rem;
   font-size: 1.2rem;
}
