//main: ../style.less

.nav {
   width: 100%;
   margin: 0 auto 10px;
   display: flex;
   align-items: center;
   position: absolute;
   z-index: 1000;


   @media @mobile {
      display: block;
      margin-top: .4rem;
   }
}

.nav__link {
   display: block;
   padding: 0.4rem;
   font-size: 1.5rem;
   margin: 0 2rem;
   text-decoration: none;
   text-align: center;
   display: table-cell;
   vertical-align: middle;
   color: black;
   border-radius: 2rem;
   border: 2px solid @gray;
   border-radius: 1.8em;

   height: 45px;
   width: 25%;
   transition: background-color .2s linear;

   &:hover {
      background-color: black;
      color: #fff;
      border: 2px solid black;
   }

   @media @notebook {
      font-size: 1.4rem;
      margin: 0 .5rem;
   }

   @media @tablet {
      text-transform: uppercase;
      font-size: 1rem;
      margin: 0 .1rem;
      padding: .8rem .2rem;
      border: 1px solid @gray;
   }

   @media @mobile {
      display: none;
      width: 98%;
      height: auto;
      margin: 0.4rem auto;
      border-radius: 1rem;
      z-index: 1000;
      padding: 1rem;
      background-color: #f7f7f7;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   }
   &.show {
         display: block;
      }
}



