//main: ../style.less

.product__item {
   margin: 0 -2rem 2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.product__card {
   width: 300px;
   margin: 0 2rem;
   text-align: center;
   padding-top: 3rem;
}

.product__photo {
   margin-bottom: 10px;
}

.product__name {
   font-size: 1.1rem;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 10px;
}

.produst__price {
   font-size: 1.2rem;
   font-weight: 500;
}
