//main: ../style.less

.timework {
   display: block;
   width: 20%;
   font-size: 1.1rem;
   line-height: 1.6;
   margin: 1rem auto auto;
   padding: 0 0 0 4rem;

   @media @notebook {
      font-size: 1rem;
      padding: 0 0 0 2rem;
   }

   @media @tablet {
      padding: 0 0 0 .8rem;
      width: 25%;
   }

   @media @mobile {
      display: none;
   }
}

.timework__time {
   text-transform: uppercase;
}

.timework__footer {
   @media @mobile {
      padding-left: 4rem;
      width: 50%;
   }
   @media @mobile-sm {
      margin-top: 1.4rem;
      padding: 0;
      width: 140px;

   }
}

.timework--contacts {
   margin: 1rem auto;
   padding: 0;
   display: block;
   width: 140px;
}

